@media (max-width: 960px) {
	/* General + Header */
	.wrapper {
		/*overflow: hidden;// To Implement after Editing // */
	}
	.desktop {
		display: none;
	}
	span.mobile {
		display: inline-block;
	}
	.header-logo {
		width: 60%;
		left: 15%;
	}
	.form-containers {
		position: static;
		text-align: center;
		width: 100%;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	nav {
		position: relative;
		bottom: -0.5em;
		left: -2.2em;
		opacity: 0.0;
		height: 0;
	}
	nav li {
		display: block;
	}
	nav a {
		width: 110%;
	}
	label:not(.genericon), input:not(#search) {
		display: block;
		text-align: center;
		width: 90%;
		margin-bottom: 0.2em;
	}
	label:not(.genericon) {
		width: 100%;
	}
	input {
		padding: 1em;
	}
	/* Pre-js Toggle */
	#login-casing, #sign-up {
		opacity: 0.0;
		height: 0;
	}
	/* End Pre-js-Toggle */
	.account > form:first-of-type {
		height: auto;
	}
	.account > form:first-of-type:hover {
		height: auto;
	}
	.account > form:first-of-type > input[type="password"], .account > form:first-of-type > button {
		opacity: 1.0;
	}
	.account span {
		font-size: 42pt;
	}
	header br {
		display: none;
	}
	.search span.genericon, span.genericon-menu {
		font-size: 42pt;
	}
	.search label.genericon {
		font-size: 38pt;
	}
	.search input {
		width: 60%;
	}
	.link {
		cursor: pointer;
	}
	/* Footer */
	.footer-column:first-of-type {
		margin-top: 20%;
		border-bottom: solid 2px #fff;
		padding-bottom: 4%;
		margin-bottom: 4%;
	}
	.footer-column, .footer-column:last-of-type {
		width: auto;
		display: block;
	}
	.footer-column:last-of-type {
		top: 15%;
		left: 2em;
		right: auto;
	}
	.footer-column a:last-of-type .genericon {
		margin: 0;
	}
	/* Homepage */
	#banner {
		height: 10em;
	}
	.banner-slider img {
		width: 150%;
	}
	#banner .banner-date {
		font-size: 13pt;
		top: 0.5em;
		left: 0.5em;
	}
	#home-content {
		width: 90%;
		padding: 0 1em;
		margin-bottom: 0.5em;
	}
	.column {
		width: 100%;
		display: block;
		margin: 0;
		text-align: justify;
	}
	.column img {
		margin: 0 23%;
	}
	/* Banner Animation Keyframes */
	@-webkit-keyframes image-slide {
		0%, 22% {
			transform: translateX(0%);
		}
		48%, 24% {
			transform: translateX(-125%);
		}
		74%, 50% {
			transform: translateX(-275%);
		}
		99%, 76% {
			transform: translateX(-425%);
		}
		100% {
			transform: translateX(-600%);
		}
	}

	@-moz-keyframes image-slide {
		0%, 22% {
			transform: translateX(0%);
		}
		48%, 24% {
			transform: translateX(-125%);
		}
		74%, 50% {
			transform: translateX(-275%);
		}
		99%, 76% {
			transform: translateX(-425%);
		}
		100% {
			transform: translateX(-600%);
		}
	}

	@keyframes image-slide {
		0%, 22% {
			transform: translateX(0%);
		}
		48%, 24% {
			transform: translateX(-125%);
		}
		74%, 50% {
			transform: translateX(-275%);
		}
		99%, 76% {
			transform: translateX(-425%);
		}
		100% {
			transform: translateX(-600%);
		}
	}
	/* Paris Home */
	#paris-content {
		width: auto;
	}
	#paris-content img {
		width: 100%;
	}
	#paris-home {
		margin: 0;
		width: auto;
		height: auto;
		background-size: contain;
		background-color: #802A29;
	}
	#paris-home-text {
		width: auto;
		height: auto;
		margin: 0;
		margin-top: 20%;
		padding: 0.7em;
	}
	#paris-links {
		height: auto;
		position: static;
		margin-left: 0;
	}
	.imageThumb {
		position: relative;
		height: auto;
		margin-bottom: 0.5em;
	}
	.imageThumb p {
		opacity: 1.0;
		transition: none;
		transform: translate(0px, -30px);
	}
	#viewGallery {
		left: 0;
	}
	#Paris-buyTickets {
		right: 0;
	}
	#parisgif {
		width: 95% !important;
		margin-left: 2.5%;
	}
	/* Madrid Home */
	#Madrid-content {
		width: auto;
		height: auto;
		margin: 0;
	}
	#viewsetlist {
		width: auto;
		height: auto;
	}
	#Madrid-buytickets, #travelbest {
		float: none;
		margin: 0;
	}
	#text {
		width: auto;
		height: auto;
		margin: 0;
		padding: 1em 0;
	}
	/* Berlin Home */
	#Berlin-banner {
		padding: 0;
	}
	#Berlin-content {
		padding: 1em;
	}
	#Berlin-left-content, #Berlin-right-content {
		float: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	#Berlin-left-content-text {
		text-align: justify;
	}
	#Berlin-left-content img {
		width: 75%;
	}
	/* Stockholm Home */
	#stockholm-content {
		width: auto;
		margin: 0;
		position: static;
	}
	#stockholm-content aside {
		position: static;
		top: 0;
		transform: translateY(0);
		text-align: center;
	}
	#stockholm-content section {
		width: auto;
	}
	#stockholm-content h1 {
		font-weight: lighter;
		font-size: 1.5em;
	}
	#Stockholm-intro img {
		width: 60%;
	}
	/* Profile Page */
	#profile-page {
		min-width: initial;
		width: auto;
		margin: 0;
		box-shadow: none;
		padding: 1.3em 0.5em;
	}
	.profile {
		top: 0;
		right: 10%;
		left: 30%;
	}
	.profile-img {
		height: auto;
		width: 25%;
	}
	#profile-page div > h1 {
		font-size: 1.5em;
		display: block;
		text-align: left;
	}
	.stage-icons {
		height: 2.5em;
	}
	#profile-page section:first-of-type > div > div {
		display: block;
		margin-top: 0.2em;
		text-align: left;
	}
	.geography br {
		display: block;
	}
	.geography {
		position: relative;
		top: 0;
		left: -2em;
		padding: 0.2em 1em 0.2em 0;
	}
	.columns-3, .biography .columns-3:first-of-type {
		margin-top: 0.7em;
		display: block;
		width: 100%;
	}
	.columns-2-bias {
		display: block;
		width: auto;
		margin-right: 0;
	}
	.profile-feed > div:first-of-type {
		height: auto;
		margin-bottom: 1em;
	}
	.columns-2-bias:last-of-type {
		width: 100%;
		overflow-y: visible;
		overflow-x: visible;
	}
	.profile-feed {
		height: auto;
	}
	.image-wrap > div {
		width: auto;
		height: auto;
		margin-bottom: 0;
	}
	.profile-feed img {
		width: 100%;
		height: auto;
	}
	.video:before {
		top: initial;
		bottom: auto;
	}
}