/* Template */
body {
  font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
  line-height: 1.5;
}

section, article, nav, aside, header, footer, hgroup {
	display: block; /* To make the old IE Browsers behave */
}

img {
	height: auto;
	width: 100%;
}
/* End Template */

/*****************************
Line Up Pages 
*****************************/
/**
* Testing
**/
footer, section, aside, nav {
	border: solid 1px #000;
	height: 100px;
}
/**
* Header
**/
header {
	width: 100%;
}

nav {
}

nav li {
	display: inline-block;
}

/**
* Content
**/
#content {
	width: 75%;
	margin: 0 auto;
}

aside {
	width: 32%;
	float: left;
}

section {
	width: 65%;
	float: right;
}

/**
* Footer
**/
footer {
	clear: both;
	width: 100%;
}